body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
    min-height: 100vh;
    margin: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.gallery {
    display: grid;
    width: 100dvw;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;padding: 30px;
    background: rgba(255, 255, 255, 0.1);   
    -webkit-backdrop-filter: blur(20px);  /* Safari support */
    backdrop-filter: blur(20px);              
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
                inset 0 1px 0 rgba(255, 255, 255, 0.6),
                inset 0 -1px 8px rgba(0, 0, 0, 0.05);
}
.photo {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow:  1px 1px 2px 1px black;
   
    
}
.photo:hover {
    transform: scale(1.05) translateY(-10%);
    box-shadow:  1px 1px 2px 3px rgb(245, 176, 176);
}